.btn {
  border-radius: $base/4;
  font-weight: 700;
  border: 2px solid $neutral;
  background: transparent;
  color: $neutral;
  box-sizing: border-box;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
  cursor: pointer;
  &.trans {
    background: transparent;
    border-color: $light;
    color: $light;
  }
  &.dark {
    border: 0;
    background: $highlight;
    color: $light;
    font-weight: 500;
  }
  &.try-stay-btn, &.try-button-form{
    border: 0;
    background: #BA478B;
    color: #FEFEFE;
    font-weight: 500;
    height: 56px;
    line-height: 56px;
    font-size: 16px;
    padding: 0 32px;

    &.transparent {
      background: transparent;
      border: 1px solid #BA478B;
      color: #BA478B;
    }
  }
}

a.facebook-bot-btn {
  height: 56px;
  line-height: 56px;
  font-size: 18px;
  padding: 17px 32px;
  text-decoration: none;
}