.check-list {
  list-style-type: none;
  li {
    background: url('../img/bullet-check@2x.png') left top no-repeat;
    background-size: 28px 28px;
    min-height: $base*2;
    margin-bottom: $base*2;
    line-height: $base*2;
    padding-left: $base*3;
  }
  @media #{$mobile} {
    li {
      font-size: $font-s + 2;
    }
  }
}

