.client-list {
  background-color: $light-bg;
  padding: $base 0;
  position: relative;
  &.white {
    background-color: #fff;
  }
  ul {
    list-style-type: none;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 12px;
      text-align: center;
    }
  }
  @media #{$mobile}, #{$tablet} {
    padding: $base*2
  }
  @media #{$mobile} {
    padding: $base 0;
    img {
      height: $base*2;
    }
  }
}