.featured-list {
  text-align: center;

  a {
    color: white;
    text-decoration: none;
  }
  img {
    display: block;
    margin: 0 auto;
    margin-bottom: $base;
    max-width: $base*7.5;
  }
  span {
    display: block;
    height: 70px;
    line-height: 28px;
    &.title{
      font-weight: 700;
    }

    &.description{
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 10px;
    }
  }
  @media #{$mobile}, #{$tablet} {
    > div {
      padding: 5% 10%;
      padding-bottom: 0;
      &:nth-child(odd) {
        clear: both;
      }
      img {
        max-width: 100%;
        margin-bottom: $base*2.5;
      }
      span {
        display: block;
        line-height: $base*2;
        font-size: $font-sl;
        height: auto;
        margin-bottom: 20px;
        padding: 0 10%;
      }
    }

  }
  @media #{$mobile} {
    > div {
      img {
        margin-bottom: $base;
      }
      span {
        line-height: $base*1.5;
        font-size: $font-s;
        margin-bottom: 20px;
      }
    }

  }
}