.menu {
  text-align: right;
  white-space: nowrap;
  padding-top: $base*2.5;
  color: $light;

  &.black{
    a{
      color:#000;
    }
  }
  .access {
    position: absolute;
    top: 0;
    right: 80px;
    line-height: $base*2;
    background-color: $dark-bg;
    font-size: $font-s;
    color: $light !important;
    padding: 0 $base;
  }
  a {
    color: $light;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    display: inline-block;
    line-height: $base*3;
    margin-right: $base;
    font-size: $font-ls - 2;
    text-transform: uppercase;
    .list_submenu{
      display:none;
    }
    li {
      display: inline-block;
      margin: 0 $base;
      
      @media #{$desktop} {
        a.navbar-link {
          font-size: 14px;
        }
      }
      ul {
        display: none;
        small {
          display: none;
        }
      }
    }
  }
  @media #{$desktop} {
    ul {
      li {
        position: relative;
        ul {
          display: none;
          position: absolute;
          top: 100%;
          background: $light;
          padding: $base*1.5;
          border-radius: 4px;
          z-index: 100;
          color: $neutral;
          width: $base*20;
          text-align: left;
          margin: 0;
          left: 50%;
          transform: translateX(-50%);
          li {
            display: block;
            margin: 0;
            clear: both;
            text-transform: capitalize;
            padding-left: $base*3;
            background-repeat: no-repeat;
            background-position: left 10px;
            margin-bottom: $base;
            font-weight: 500;
            &:nth-child(1) {
              background-image: url('../img/ico-menu-cms@2x.png');
              background-size: 37px;
            }
            &:nth-child(2) {
              background-image: url('../img/ico-menu-app@2x.png');
              background-size: 30px;
            } 
            &:nth-child(3) {
              background-image: url('../img/ico-menu-bot@2x.png');
              background-size: 38px;
            }
            a {
              color: $neutral;
              small {
                display: block;
                white-space: normal;
                line-height: $base*1.5;
                font-weight: 400;
                text-transform: none;
              }
            }
          }
        }
      }

    }

  }
  @media #{$mobile}, #{$tablet} {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: $dark;
    padding: 0;
    button {
      display: block;
    }
    .access {
      top: auto;
      bottom: $base*5.5;
      width: 100%;
      line-height: $base*2;
      background-color: transparent;
      font-size: $font-sl;
      color: $neutral;
      padding: 0;
      text-align: center;
    }
    >  ul {
      display: block;
      text-align: center;
      margin: 0;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-size: $font-xl;
      line-height: $base*3.5;
      font-weight: 500;
      text-transform: none;
      li {
        display: block;
        margin-top: $base*2.5;
        ul {
          display: block;
          font-size: $font-l;
          font-weight: 400;

        }
      }
    }
  }
  @media #{$mobile} {
    .access {
      bottom: $base*1.5;
      line-height: $base*2;
      font-size: $font-ls;
      color: white;
    }
    >  ul {
      font-size: $font-sl;
      line-height: $base*2.5;
      li {
        margin-top: $base*1;
        ul {
          font-size: $font-m;
        }
      }
    }
  }
}