.mobile-screens-block {
  color: white;
  background-color: #152844;
  h3 {
    font-size: 1.9em;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 40px;   
    margin-top: 30px;
  }

  li {
    list-style: none;
    margin-bottom: 20px;
    h4 {
      margin-bottom: 20px;
      margin-top: 10px;
      font-weight: 500;
      font-size: 20px;
    }

    p {
      line-height: 1.4em;
    }

    &.selected{
      h4{
        color:#BA478B;
        cursor: pointer;
      }
    }
  }
  .row.center{
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;

    .step{
      p{
        color: #BCCBE6;
        font-weight: 600;
      }
      h3{
        margin-bottom: 20px;
        margin-top: 10px;
        color:#F377C4;
        font-weight: 600;
      }
    }
  }
  .text-rigth{
    text-align: right;
  }

  .title{
    font-size: 48px;
    text-align: center;
    padding: 100px 0 40px;
    margin: 0 20%;
  }

  .image-mobile{
    .img-wrapper {
      background: url(../img/feature-landings/line-iphone@2x.png);
      display: block;
      height: 574px;
      width: 290px;
      background-size: contain;
      padding-top: 64px;
      padding-left: 0px;
      margin: 0 auto;
      background-repeat: no-repeat;
    }
    .content-mobile{
      height:439px;
      //weight:248px;
      &.hidden{
        display:none;
      }
    }
  }

  &.diagonal-light{
    background-image: url(../img/feature-landings/back-diagonal-light.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
  }
  &.oval-background{
    background-image: url(../img/feature-landings/back-oval.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
  }

  &.list-block{
    .pair-lists{
      .col-content-center{
        height: 600px;
        position: relative;
        display: flex;
        align-items: center;
      }
      h2{
        color:#fff;
        font-weight: 400;
        text-align: initial;
        margin:0;

      }
      ul {
        padding-top: 20px;
        li{
          margin-bottom: 20px;
          strong{
            font-size: 20px;
          }
          p{
            font-size: 16px;
            padding-left: 30px;
            &.title{
              background: url('../img/feature-landings/arrow@2x.png') left 8px no-repeat;
              background-size: 15px;
              text-align: start;
              margin: auto;
              padding: 0 30px;
            }
          }
        }
        &.selected{
          .title{
            color:#BA478B;
          }
        }
      }
      .image-mobile{
        .img-wrapper {
          background: url('../img/feature-landings/bg-surveys-mobile@2x.png');
          display: block;
          height: 653px;
          width: 411px;
          background-size: contain;
          padding-top: 80px;
          padding-left: 86px;
          margin: 0 auto;
          background-repeat: no-repeat;
        }
        .content-mobile{
          height:auto;
          &.hidden{
            display:none;
          }
        }
      }
    }
  }

  @media #{$mobile}, #{$tablet} {
    .col-md-6.text-left, .col-md-7.text-left {
      padding: 50px;

      h3 {
        text-align: center;
      }
    }

    li {
      text-align: center;
      margin-bottom: 60px;
    }
    .row.center{
      height: auto;
      display:block;
    }
    .step{
      text-align: center;
      padding-top: 30px;
    }
    li{
      padding: 0 20%;
      padding-bottom: 30px;
    }
    &.list-block{
      .pair-lists{ 
        h2{
          text-align: center;
        }
        p{
          text-align: initial;
        }
        .col-content-center{
          height: auto;
        }
      } 
    }

  }

}