.price {
  .container-fluid {

    background: $light;
    position: relative;
    padding: $base*3.5 0 $base*2;
    text-align: center;
    margin-top: $base*10;
    max-width: 950px;
    box-shadow: 0 9px 17px 0 rgba(0,0,0,0.50);
    border-radius: 4px;
    color: $neutral;
    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: $base*13;
    }
    strong {
      font-size: 28px;
      color: $highlight;
      line-height: $base*3;
      margin-bottom: $base;
      display: block;
      text-transform: uppercase;
    }
    .amount {
      font-size: 72px;
      line-height: 56px;
      display: block;
      small {
        font-size: 46px;
        display: inline;
      }

    }
    .note {
      font-size: 22px;
      line-height: 29px;
      display: block;
    }
    .row {
      > div:nth-child(1) {
        .amount {
          text-decoration: line-through;
        }
      }
      > div:nth-child(2) {
        font-weight: 500;
      }
    }
  }
  @media #{$tablet} {
      h2 {
        margin-bottom: 130px;
      }
    .container-fluid {
      margin: 0 20px;
      padding-top: 90px;
      img {
        max-width: 272px;
      }
      .row {
        > div:nth-child(1) {
          strong {
            display: none;
          }
          .amount {
            font-size: 68px;
            margin-bottom: $base*3;
            small {
              font-size: 42px;
            }
          }
        }
      }
      .row {
        > div:nth-child(2) {
          margin-bottom: $base*3;
          .amount {
            font-size: 140px;
            line-height: 123px;
            small {
              font-size: 92px;
            }
          }
          .note {
            font-size: 40px;
          }
        }
      }
      button {
        font-size: 32px;
        padding: 0 100px;
        line-height: 88px;
        height: 88px;
      }
    }

    }
  @media #{$mobile} {
    .container-fluid {
      margin: 0 20px;
      padding-top: 120px;
      img {
        max-width: 272px;
      }
      .row {
        > div:nth-child(1) {
          strong {
            display: none;
          }
          .amount {
            font-size: 52px;
            margin-bottom: $base*3;
            small {
              font-size: 42px;
            }
          }
        }
      }
      .row {
        > div:nth-child(2) {
          margin-bottom: $base*3;
          .amount {
            font-size: 74px;
            line-height: 80px;
            small {
              font-size: 45px;
            }
          }
          .note {
            font-size: 20px;
          }
        }
      }
      button {
        padding: 0;
        font-size: 21px;
        line-height: 61px;
        height: 61px;
        width: calc(100% - 40px);
        margin: 0 20px;
      }
    }

    }
}