
body {
  background: $light;
  color: $neutral-dark;
  > .page-wrapper {
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: $base;
    box-sizing: content-box;
    div.content {
      min-height: 100%;
      clear: both;
      // padding-bottom: $base*33.5;
      // padding-bottom: 466px;
      position: relative;
      z-index: 10;
      > div {
        margin: 0 auto;
        position: relative;
      }
    }
    > footer {
      position: relative;
      width: 100%;
      z-index: 5;
      height: 472px;
    }
    @media #{$mobile}, #{$tablet} {
      // div.content {
      //   padding-bottom: $base*22.5;
      // }
      > footer {
        height: $base*25.5;
      }
    }
    @media #{$mobile} {
      // div.content {
      //   padding-bottom: $base*13;
      // }
      > footer {
        height: $base*15;
      }
    }
  }
}

::-webkit-input-placeholder {
   font-size: 0.8em;
}

::-moz-placeholder {
      font-size: 0.8em;
}