
h1 {
  font-size: $font-xl;
  line-height: $base*3.5;
  font-weight: 500;
  small {
    display: block;
    font-size: 24px;
    font-weight: 400;
  }
  @media #{$mobile}, #{$tablet} {
    font-size: $font-xl;
    line-height: $base*3.5;
    small {
      padding-top: $base*1.5;
      font-size: $font-lm;
    }
  }
  @media #{$mobile} {
    padding-top: $base*1.5;
    font-size: $font-l;
    line-height: $base*2.5;
    margin-bottom: $base;
    small {
      padding-top: 0;
      font-size: $font-ls;
    }
  }
}

h2 {
  font-size: 36px;
  line-height: 52px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 40px;
  color: #202c3e;
  @media #{$mobile}, #{$tablet} {
    font-size: $font-xxl;
    line-height: $base*4.5;
  }
  @media #{$mobile} {
    font-size: $font-sl;
    line-height: $base*2.5;
    margin-bottom: $base*3;
  }

  &.white {
    color: white !important;
  }
}

p.big {
  font-size: 20px;
  line-height: $base*2;
  @media #{$mobile} {
    font-size: $font-s;
    line-height: $base*1.5;
  }
}
.number-highlight {
  color: $highlight;
  font-size: $font-xxxxl !important;
  line-height: $base*6;
  @media #{$tablet} {
    font-size: 144px !important;
    line-height: 199px;
  }
  @media #{$tablet} {
    font-size: 77px !important;
    line-height: 106px;
  }
}