
$base: 16px;


/* Responsive */
$mobile: ' only screen and (max-width: 768px)';
$tablet: ' only screen and (min-width: 769px)  and (max-width: 992px)';
$desktop: ' only screen and (min-width: 993px)';



/* Colores */

$light: #FEFEFE;
$light-bg: #eef0f2;
$neutral: #303B4C;
$neutral-dark: #43526A;
$dark-bg: #262626;
$dark: #000000;
$highlight: #BA478B;

$font-xs: 12px;
$font-s: 14px;
$font-ls: 20px;

$font-sm: 22px;
$font-m: 24px;
$font-lm: 28px;

$font-sl: 32px;
$font-l: 40px;
$font-xl: 44px;
$font-xxl: 52px;
$font-xxxl: 64px;
$font-xxxxl: 68px;