$break-small: 767px;
$break-medium: 992px;
$break-large: 1200px;

$color1: white;
$color2: black;
$color3: #B8418A;
$color4: #323942;
$color5: #3D424B;

.inner-bg-2 {
  background-image: url("../img/home/desktop.jpg");
  background-repeat:no-repeat;
  height: 75%;
  width: 100%;
  position: relative;
  background-attachment: initial;

  background-size: cover;
  color: $color1;

  @media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
  only screen and (-moz-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-device-pixel-ratio: 1.5) {
      background-image: url("../img/home/desktop@2x.jpg");
  }
  
  // @media screen and (max-height: 400px) {
  //   height: auto !important;
  // }
  
  @media only screen and (device-width:768px){
     background-position: center center;
  }

  @media screen and (max-width: $break-small) {
    background-image: url("../img/home/mobile.jpg");
    background-attachment: fixed;
    background-size:100% auto;
    height: 100%;
    background-color: $color4;

    @media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
    only screen and (-moz-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-device-pixel-ratio: 1.5) {
      background-image: url("../img/home/mobile@2x.jpg");
    }

  }
}

.header-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.site-header-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  @media screen and (max-width: $break-small) {
    vertical-align: bottom;
  }

  .handwriting {
    font-family: 'Nothing You Could Do', cursive;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    font-size: 2.25em;
    @media screen and (max-width: $break-small) {
      font-size: 1.7em;
      margin-top: 5px;
      margin-bottom: 0;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    }
  }
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

@media (max-width: 991px) {
  .inner-bg-2 {
    //height: auto;
    padding-bottom: 20px;
  }
  .navbar {
    background: #1A1A1A;
  }
}

.header-text {
  margin-bottom: 20px;
  margin-top: 100px;
  
  @media screen and (max-width: $break-small) {
    margin-bottom: 0px; 
  }

  h1{
    color: $color1;
    // font-size: 2.35em;
    font-size: 36px;
    margin-bottom: 0px;
    line-height: 45px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    strong {
      color: $color1;
      font-weight: 700;
    }

    @media screen and (max-width: $break-small) {
      font-size: 1.7em;  
      line-height: 30px;  
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    }

    &.home-landing-title {
      @media screen and (min-width: $break-small) {
        font-size: 38px;
      }
    }
  }

  h3 {
    line-height: 30px;
    font-weight: 400 !important;
    margin-top: 20px;
  }
}

body.custom-landing.jobs {
  h1 {
    text-align: center;
  }
  a.logo {
    position: absolute;
  }
  img.logo {
    position: absolute;
    z-index: 9;
    height: 40px;
    margin-top: 32px;
    margin-left: 52px;
  }

  .inner-bg-2 {
    background-attachment: initial !important;
  }
  a.mail-anchor {
    color: $color3;
    display: inline-block;
  }
  .header-wrapper {
    h1 strong {
      font-weight: 600;
      font-size: 38px;
    }
    h3 {
      font-weight: 600;
      font-size: 26px;
    }
  }

  .about, .openings {
    h1 {
      font-weight: 700; 
      margin: 50px 0 20px 0;
    }
  }

  .about {
    margin-bottom: 30px;

    p {
      text-align: center;
      font-weight: 500;
      line-height: 1.5em;
    }
  }

  .openings {
    padding-top: 1px;
    padding-bottom: 150px;
    background-color: #F5F5F5;
    
    .openings-list {
      position: relative;
      margin-top: 20px;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: none;

        }
      }
      .job {
        text-align: left;
        background-color: $color1;
        padding: 20px;
        box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.3);
        border-radius: 2px;
        margin-bottom: 10px;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        transform: scale(1);
        transition: all ease-in-out 0.2s;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        -ms-perspective: 1000;
        perspective: 1000;

        &:hover {
          transform: scale(1.06);
          transition: all ease-in-out 0.2s;
          box-shadow: 0px 3px 9px -1px rgba(0,0,0,0.35);
        }
        .job-type {
          font-weight: 300;
          font-size: 12px;
          color: darken($color3, 5%);
        }

        .job-title {
          font-size: 20px;
          color: $color2;
          margin-top: 10px;
          font-weight: 500;
        }
      }
    }

    &.mini {
      background-color: transparent;
      .job {
        background-color: #FAFAFA;
        max-width: 350px;
      }
    }
  }

  .job-position {
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: left;
    color: $color4;

    ul {
      list-style-type: disc;
      padding-left: 40px;
      li {
        font-weight: 400;
        color: $color4;
        font-size: 16px;
        margin: 5px 0;
        padding-left: 5px;
        line-height: 1.5em;
      }
    }

    h5 {
      font-weight: 600;
      font-size: 20px;
      color: $color2;
      margin-bottom: 15px;
    }

    .salary {
      // border-left: 4px solid $color4;
      // padding-left: 15px;
      padding-top: 3px;
      margin-bottom: 20px;
      margin-top: 5px;
      font-weight: 600;
      font-size: 22px;
    }

    p {
      font-weight: 500;
          color: #484e59;
          line-height: 24px;
      }
      p {
          margin: 0 0 10px;
    }
  }
  
  .share-btn {
    color: white;
    border: none;
    font-weight: 400;
    min-width: 90px;
    padding: 6px 12px;
    text-decoration: none;
    &:hover {
      border: none;
      color: white;
    }
  }

  .twitter-share-button {
    background-color: #00ABF0;
    border-color: #00ABF0;
  }

  .facebook-share-button {
    background-color: #39579A;
    border-color: #39579A;
    margin-left: 5px;
  }
}




